/* Body Styles */

body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
}

.body-background {
    background-image: url(./images/destiny-2-video-game-1366x768_899875-mm-90.jpg);
    
}

/* Header Styles  */

header {
    display: flex;
    justify-content: space-between;
    background-color: #252525;
    color: white;
    padding: 3vh;
}

time {
    min-width: 85px;
}

/* Main Styles */

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Button Styles */

.button {
    display: block;
    color: #252525;
    background-color: white;
    padding: 2vh;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.inline-buttons {
    display: inline-flex;
}

/* Card Styles */

.card {
    border: solid;
    border-width: 2px;
    max-width: 80%;
    margin-top: 15vh;
    padding: 5vw;
    border-radius: 30px;
    border-color: black;
    box-shadow: 10px 5px 5px black;
    background-color: #252525;
    color: white;
}

/* Start Card Styles */

#start-screen {
    display: inline;
    text-align: center;
}

/* Question Card Styles */

.option-button {
    width: 100%;
    text-align: left;
    margin: 5px;
}

#result-div {
    display: none;
}

/* Score Card Styles */

.inline-form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#initials {
    width: 25%;
    margin: 8px;
    padding: 1vh;
}

/* Leaderboard Card Styles */

#back-button {
    margin-right: 8px;
}

.highscore-list {
    padding-inline-start: 20px;
}

/* Cursor change over leaderboard */

.cursor-change {
    cursor: pointer;
}

/* Media Queries */

@media screen and (min-width: 850px) {
    .card {
        max-width: 680px;
    }
}

/* Media query that specifies devices that can utilize hover */

@media (hover) {

    /* Stylings pertaining to hover pseudo-class*/

    a:hover {
        color: #cbe1e0;
    }

    button:hover {
        background-color: rgba(52, 125, 123, 0.5);
    }
}