*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --textColor: burlywood;
}

.root {
    font-family: 'Acme', sans-serif;
    background-color: black;

}
.header {
    padding: 25px;
    margin: 25px;
    color: burlywood;
    background: rgba(0, 0, 0, 0.5);
}
.body {
    background-image: url("../assets/images/destiny-witch-queen.jpg");
    background-size: cover;

}
.timer {
    padding: 25px;
    margin: 25px;
    background: rgba(0, 0, 0, 0.5);
    color: var(--textColor);
}

.button {
    padding: 75px;
    background-color: var(--textColor);
    justify-content: space-around;
    margin-left: 500px;
    width: 50%;
    font-size: 30px
}

.body ul {
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    padding: 25px;
    margin: 25px;
}

.body li {
    font-weight: 30px;
    font-size: large;
    color:var(--textColor);
}

.body div {
    justify-content: center;
}